/* X-SMALL */
@media (max-width: 576px) {
    .topBarMenu{
        min-height: 4rem;
    }
    .nav-item a{
        font-size: 1.2em;
    }

    /* INDEX */
    .carouselImg{ transform: translateX(-14rem);}
    .carouselText{
        bottom: 5vw;
    }
    .carouselText h1{
        letter-spacing: 0.4rem;
    }
    .frameVideo{
        width: calc(41.5vh);
        height: calc(24.8125vh);
    }
}
/* SMALL */
@media (min-width: 576px) {
    /* INDEX */
    .carouselImg{ transform: translateX(-20vw);}
    .carouselText{
        bottom: 8vh;
    }
    .carouselText h1{
        letter-spacing: 1rem;
    }
}

/* MEDIUM */
@media (min-width: 768px) {
    /* INDEX */
    .carouselImg{ transform: translateX(0);}
    .carouselText{
        bottom: 8vw;
    }
    
    /* topbar */
    .logoImg{
        width: 250px;
        height: 25px;
    }

    .frameVideo{
        width: calc(37.5vw);
        height: calc(20.8125vw);
    }
}
/* LARGE */
@media (min-width: 992px) {
    /* INDEX */
    .carouselText{
        bottom: 10vw;
    }

    /* QUIENES SOMOS */
    .text-block {
        max-width: 500px;
    }
    
    .frameVideo{
        width: calc(37.5vw);
        height: calc(20.8125vw);
    }
}

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*imagen de fondo para navbar*/
/* .topBarImg{
    background-image: url(../img/bg_topBar.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
} */

#openTopMenu a{
    text-decoration: none;
}

#openTopMenu .activePag{
    color: white;
}

.sub-heading {
    font-size: 14px;
    letter-spacing: 1px;
}

.parrafoImg img{
    border-radius: 8px;
    max-height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logoImg{
    max-height: 25px;
    image-rendering: -webkit-optimize-contrast;
}

.navbar-toggler:focus {
    box-shadow: none;
}

nav ~ * {
    animation: transitionIn 0.75s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.footerImg{
    max-height: 25px;
    image-rendering: -webkit-optimize-contrast;
}

footer{
    background-color: #100c08
}

footer li, a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.502);
    font-weight: 100;
}

footer ul {
    color: rgba(255, 255, 255, 0.75);
    padding: 0;
    list-style-type: none;
}
footer h5 {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.3em;
}

a:hover{
    color: #73dd6f;
}


/* INDEX */
.carouselImg {
    width: 100%;
    min-width: 150vh;
    filter: brightness(60%);
}

.carouselText{
    padding-top: 0;
    padding-bottom: 0;
}

.carouselText p{
    font-weight: lighter;
    color: #b7ff96;
}

/* QUIENES SOMOS */
.frameVideo{
    border-radius: 10px;
    border-style: double;
    border-width: 10px;
}

.pre-heading{
    color: #73dd6f;
    font-size: 14px;
    letter-spacing: 2px;
}

.card-img{
    align-self: center;
    margin-top: 5em;
    width: 270px;
    height: 270px;
}

.list-group-item {
    border: 0;
}
