<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
    {% include "core/repeat/head.html" %}
    <title>Registro de usuario | Macetitas</title>
</head>

<body>
    <div class="main-content">
        <!-- TOP BAR -->
        {% include "core/repeat/topBar.html" %}
        <div class="container my-5">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h2>Modificar Cuenta ({{user.get_username}})</h2>
                            <hr>
                            <form action="" method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="row">
                                    <div class="col-6">
                                        <input type="submit" id="submit" value="Guardar Cambios"
                                            class="btn w-100 btn-success">
                                    </div>
                                    <div class="col-6">
                                        <input type="button" value="Cancelar"
                                            onclick="window.history.go(-1); return false;" class="btn w-100 btn-danger">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "core/repeat/footer.html" %}
    <script src="{% static 'core/js/form_validator_register.js' %}"></script>

</body>

</html>