<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
    {% include "core/repeat/head.html" %}
    <title>Iniciar Sesión - Macetitas</title>
</head>

<body>
    <div class="main-content">
        {% include "core/repeat/topBar.html" %}
        <div class="container my-5">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-header py-3">
                            <h5 class="mb-0">Iniciar Sesión</h5>
                        </div>
                        <div class="card-body">

                            <form method="post">
                                {% csrf_token %}

                                <div class="form-group">
                                    {% if form.errors %}
                                    <p class="alert alert-danger text-center py-1 fs-6" role="alert">USUARIO O
                                        CONTRASEÑA INCORRECTOS</p>
                                    {% endif %}
                                    <!-- Text input -->
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="usuario">Nombre de usuario</label>
                                        <!-- {{form.username}} -->
                                        <input type="text" id="username" name="username" class="form-control" />
                                    </div>

                                    <!-- Text input -->
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="password">Contraseña</label>
                                        <!-- {{form.password}} -->
                                        <input type="password" id="password" name="password" class="form-control" />
                                    </div>
                                    <p class="text-danger">{{ mensaje }}</p>
                                </div>
                                <input type="submit" id="submit" class="btn btn-success w-100 mb-2 fw-bold"
                                    value="INGRESAR" />
                            </form>
                            <p>¿Aún no tienes una cuenta? <a href="{% url 'register' %}" class="text-dark">Crea una
                                    nueva aqui</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "core/repeat/footer.html" %}
</body>

</html>