<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  {% include "core/repeat/head.html" %}

  <title>Checkout | Macetitas</title>
</head>
<body>
  {% include "core/repeat/topBar.html" %}
  <div class="container my-5">
    <div class="row">
      <div class="col-9">
        <div class="card">
          <div class="card-body">
            <h2>Crear Pedido</h2>
            <hr>
              <h4 class="card-title">Datos personales</h4>
              <label for="emailInput" class="form-label mt-2">Nombre</label>
              <input type="email" class="form-control" id="emailInput" value="{{user.first_name}}">

              <label for="emailInput" class="form-label mt-2">Correo electrónico</label>
              <input type="email" class="form-control" id="emailInput" value="{{user.email}}">
              
              <label for="addressInput" class="form-label mt-2">Dirección</label>
              <input type="text" class="form-control" id="addressInput">
              
              <label for="cardInput" class="form-label mt-2">Telefono</label>
              <input type="text" class="form-control" placeholder="569123456789" id="cardInput">
              <input type="submit" id="submit" value="Continuar" class="btn w-100 mt-3 btn-success float-right">
              {{ form.as_p }}
              {{mensaje}}
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Producto a Comprar</h4>
            <div class="card flex-row flex-wrap">
              <div class="card-header border-0">
                  <img src="{{ plant.imagen.url }}" width="100" height="100">
              </div>
              <div class="card-block px-2 py-2">
                  <h4 class="card-title">{{plant.nombre_prod}}</h4>
                  <p class="card-text">${{plant.precio}}</p>
                  <p class="card-text">Stock restante: <span id="stock">{{plant.stock}}</span></p>
                  <label for="unitInput" class="form-label mt-2">Unidades</label>
                  <input type="number" class="form-control" id="unitInput" value="1" min="1">
                  <div class="unit valid-feedback"></div>
                  <div class="unit invalid-feedback"></div>
              </div>
            </div>
            <hr>
              <p class="fw-bold">Subtotal: $<span id="subtotal">{{plant.precio}}</span></p>
              <p class="fw-bold">Descuentos: $<span id="descuento">0</span></p>
              <p class="fw-bold">Total: $<span id="total">{{plant.precio}}</span></p>
              <input type="text" class="form-control d-inline" placeholder="Ingrese código de descuento" id="codeInput">
              <div class="code valid-feedback"></div>
              <div class="code invalid-feedback"></div>
            
              {{mensaje}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER -->
  {% include "core/repeat/footer.html" %}
  <script src="{% static 'core/js/form_validation_compra.js' %}"></script>
</body>
</html>