<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{% static 'core/css/global.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">
  <title>Tienda - Macetitas</title>
</head>
<body>
  <!-- TOP BAR -->
  {% include "core/repeat/topBar.html" %}
  <h1 class="h2 py-3 bg-black text-white fw-bold text-center">TIENDA</h1>
  
  <div class="container mb-3 pb-5">
    <div class="row g-3 text-center justify-content-around">
      {% for plant in plantas %}
      <div class="col-sm-12 col-md-6 col-lg-4">
        <button class="btn btn-primary-outline" type="button" data-bs-toggle="collapse"
          data-bs-target="#multiCollapse{{ plant.id }}" aria-expanded="false" aria-controls="multiCollapse{{ plant.id }}">
          <img class="card-img" src="{{ plant.imagen.url }}">
        </button>
        <h5 class="h5 mt-3">{{plant.nombre_prod}}</h5>
        <p class="text-muted">{{plant.descripcion_prod}}</p>
        <div class="collapse multi-collapse" id="multiCollapse{{ plant.id }}">
          <div class="card p-3">
            <ul class="list-group list-group-flush text-start">
              <li class="list-group-item list">
                <div class="m-0 d-flex justify-content-between">
                  <p class="text-muted">Precio</p>
                  <p class="h4">${{plant.precio}}</p>
                </div>
              </li>
              <li class="list-group-item list">
                <div class="d-flex justify-content-between">
                  <p class="text-muted">Toxicidad</p>
                  <p>{{plant.toxicidad}}</p>
                </div>
              </li>
              <li class="list-group-item list">
                <div class="d-flex justify-content-between">
                  <p class="text-muted">Altura</p>
                  <p>{{plant.alto}}</p>
                </div>
              </li>
            </ul>
            <a href="{% url 'checkout' plant.id %}"><button class="btn btn-primary w-100">Comprar</button></a>
          </div>
        </div>
        </div>
        {% endfor %}
      </div>
    </div>
   
  
  {% include "core/repeat/footer.html" %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</body>
</html>