<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
    {% include "core/repeat/head.html" %}
    <title>Soporte - Macetitas</title>
</head>

<body>
    <div class="main-content">
        <!-- TOP BAR -->
        {% include "core/repeat/topBar.html" %}

        <!-- Formulario de Feedback -->

        <div class="container my-5">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h2>Envíanos tu Feedback</h2>
                            <p>Queremos saber qué es lo que piensas de nuestro sitio, por lo que agredeceriamos
                                enormemente que nos envíes tu feedback.</p>
                            <hr>
                            <form action="" method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" id="submit" value="Enviar Mensaje"
                                    class="btn w-100 btn-success float-right" disabled>
                            </form>
                            {{mensaje}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    {% include "core/repeat/footer.html" %}
    <script src="{% static 'core/js/form_validator_soporte.js' %}"></script>
</body>

</html>