<footer class="container-fluid text-white pt-3 m-auto">
  {% load static %}
  <div class="container-lg py-2">
      <div class="row justify-content-center">
        <div class=" col-sm-3 text-center ">
          <ul>
            <h5 class="mb-3">Integrantes</h5>
            <li>Jorge Parra</li>
            <li>Osvaldo Venegas</li>
            <li>Eduardo Navarro</li>
            <li>Francisco Galdames</li>
          </ul>
        </div>

        <div class=" col-sm-3 text-center">
            <ul>
              <h5 class="mb-3">Mapa del Sitio</h5> 
              <li><a class="text-decoration-none" href="{% url 'index' %}">Página Principal</a></li>
              <li><a class="text-decoration-none" href="{% url 'quienes_somos' %}">Quiénes Somos</a></li>
              <li><a class="text-decoration-none" href="{% url 'tienda' %}">Tienda</a></li>
              <li><a class="text-decoration-none" href="{% url 'contacto' %}">Contacto</a></li>
              <li><a class="text-decoration-none" href="{% url 'soporte' %}">Soporte</a></li>
              <!-- <li><a class="text-decoration-none" href="{% url 'login' %}">Cuenta</a></li> -->
            </ul>
        </div>

        <div class=" col-sm-3 text-center">
            <ul>
              <h5 class="mb-3">Contáctanos</h5> 
              <li>+56 9 1234 5678</li>
              <li>contacto@macetitas.cl</li>
                <div class="mt-3">
                  <a class="text-decoration-none me-1" href="https://www.instagram.com/?hl=es"><i class="bi bi-instagram h4"></i></a>
                  <a class="text-decoration-none me-1" href="https://es-la.facebook.com/"><i class="bi bi-facebook h4"></i></a>
                  <a class="text-decoration-none me-1" href="https://twitter.com/?lang=es"><i class="bi bi-twitter h4"></i></a>
                  <a class="text-decoration-none " href="https://github.com/Nanito111/Experiencia1_ParraVenegasNavarroGaldames_006d"><i class="bi bi-github h4"></i></a>
                </div>
              </li>
            </ul>
        </div>

        <div class="text-center">
          <ul>
            <li><img src="{% static 'core/img/logo.png' %}" class="img-fluid footerImg"></li>
            <li>©2022</li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>