<!-- Top Menu -->
<nav class="navbar navbar-light bg-black text-center py-0">
  {% load static %}
  <div class="container-fluid justify-content-center flex-column py-2">
      <img src="{% static 'core/img/logo.png' %}" class="logoImg" alt="">
  </div>
  <div class="container-fluid justify-content-center navbar-expand-sm topBarMenu pb-2">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#openTopMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="{% static 'core/img/filter.svg' %}" alt="" width="35px" height="35px" style="filter: invert();">
      </button>
      <div class="collapse navbar-collapse justify-content-center mb-2 mb-sm-0" id="openTopMenu">
        <ol class="navbar-nav mb-lg-0">
          <li class="nav-item my-2 my-sm-0 me-sm-4">
            <a class="text-opacity-75" href="{% url 'index' %}">PÁGINA PRINCIPAL</a>
          </li>
          <li class="nav-item my-2 my-sm-0 me-sm-4">
            <a class="text-opacity-75" href="{% url 'quienes_somos' %}">QUIENES SOMOS</a>
          </li>
          <li class="nav-item my-2 my-sm-0 me-sm-4">
            <a class="text-opacity-75" href="{% url 'galeria' %}">GALERÍA DE FOTOS</a>
          </li>
          <li class="nav-item my-2 my-sm-0 me-sm-4">
            <a class="text-opacity-75" href="{% url 'contacto' %}">CONTACTO</a>
          </li>
          <li class="nav-item my-2 my-sm-0 me-sm-4">
            <a class="text-opacity-75" href="{% url 'soporte' %}">SOPORTE</a>
          </li>
          
          {% if user.is_authenticated %}
            <li class="nav-item my-2 my-sm-0 me-sm-4">
              <a class="text-opacity-75" href="{% url 'account' %}">MI CUENTA</a>
            </li>
            <li class="nav-item my-2 my-sm-0 me-sm-4">
              <a class="text-opacity-75" href="{% url 'logout' %}">CERRAR SESIÓN</a>
            </li>
          {% else %}
            <li class="nav-item my-2 my-sm-0 me-sm-4">
              <a class="text-opacity-75" href="{% url 'login' %}">INICIAR SESIÓN</a>
            </li>
          {% endif %}
        </ol>
      </div>
  </div>
</nav>