/* X-SMALL */
@media (max-width: 576px) {
    .topBarMenu{
        min-height: 4rem;
    }
    .nav-item a{
        font-size: 1.2em;
    }
    /* INDEX */
    /* .carouselImg{ transform: translateX(-14rem);} */
    /* .carouselText{
        bottom: 5vw;
    } */
    .carouselText h1{
        letter-spacing: 0.4rem;
    }
    .frameVideo{
        width: calc(41.5vh);
        height: calc(24.8125vh);
    }
    .logoImg{
        padding-right: 0;
        padding-left: 1rem;
    }
    
}
/* SMALL */
@media (min-width: 576px) {
    /* INDEX */
    /* .carouselImg{
        transform: translateX(-20vw);
    } */
    /* .carouselText{
        bottom: 8vh;
    } */
    .carouselText h1{
        letter-spacing: 1rem;
    }
    .logoImg{
        padding-right: 9rem;
        padding-left: 10rem;
    }
}

/* MEDIUM */
@media (min-width: 768px) {
    /* INDEX */
    /* .carouselImg{ transform: translateX(0);} */
    /* .carouselText{
        bottom: 8vw;
    } */

    .frameVideo{
        width: calc(37.5vw);
        height: calc(20.8125vw);
    }
    .logoImg{
        max-height: 25px;
    }
    nav .nav-item {
        font-size: 0.8rem;
    }
    
}
/* LARGE */
@media (min-width: 992px) {
    /* INDEX */
    /* .carouselText{
        bottom: 10vw;
    } */

    /* QUIENES SOMOS */
    .text-block {
        max-width: 500px;
    }
    
    .frameVideo{
        width: calc(37.5vw);
        height: calc(20.8125vw);
    }
    nav .nav-item {
        font-size: 1rem;
    }
}

.carouselImg{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
.carouselText{
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 90%;
}

* {
    font-family: 'Spectral', serif;
}

* h2{
    letter-spacing: -0.1rem;
}
* p{
    font-size: 1.1rem;
}

/* * p, a{
    font-family: 'Arima', serif;
} */

/*imagen de fondo para navbar*/
/* .topBarImg{
    background-image: url(../img/bg_topBar.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
} */

#openTopMenu a{
    text-decoration: none;
}

#openTopMenu .activePag{
    color: white;
}

.sub-heading {
    font-size: 14px;
    letter-spacing: 1px;
}

.parrafoImg img{
    border-radius: 8px;
    max-height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logoImg{
    image-rendering: -webkit-optimize-contrast;
}

.navbar-toggler:focus {
    box-shadow: none;
}

body {
    animation: transitionIn 0.75s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.footerImg{
    max-height: 25px;
    image-rendering: -webkit-optimize-contrast;
}

.main-content{
    min-height: calc(100vh - 239px);
}

footer{
    background-color: #100c08;
}

footer li {
    font-size: 14px;
    font-weight: 100;
}

footer ul {
    color: rgba(255, 255, 255, 0.75);
    padding: 0;
    list-style-type: none;
}
footer h5 {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.3em;
}

a{
    color: rgba(255, 255, 255, 0.502);

}

a:hover{
    color: #73dd6f;
}
footer a:hover{
    font-weight: bold;
}


/* INDEX */
.carouselImg {
    width: 100%;
    min-width: 150vh;
    filter: brightness(60%);
}

.carouselText{
    padding-top: 0;
    padding-bottom: 0;
}

.carouselText p{
    font-weight: lighter;
    color: #b7ff96;
}

/* QUIENES SOMOS */
.frameVideo{
    border-radius: 10px;
    border-style: double;
    border-width: 10px;
}

.pre-heading{
    color: #73dd6f;
    font-size: 14px;
    letter-spacing: 2px;
}

/* .card-img{
    align-self: center;
    margin-top: 5em;
    width: 270px;
    height: 270px;
} */

.cart-count{
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-size: 0.8rem;
    left: 0;
    top: 1.6rem;
}

.list-group-item {
    border: 0;
}

p.agotado{
    position: absolute;
    top: 40%;
    left: 50%;
    color: rgb(110, 0, 0);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
img.agotado, svg.agotado{
    filter: grayscale(100%) blur(3px);
    opacity: 50%;
}

.toast{
    background-color: rgba(255, 255, 255, 0.663);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.placeholder{
    cursor: default;
}